@import "../config/variables";

.notification {
  position: absolute;
  top: 0;
  right: 25vw;
  z-index: 3;
  width: 50vw;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  animation-name: notification-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-size: 18px;

  @media screen and (min-width: $breakpoint-l) {
    width: 350px;
    position: absolute;
    top: 0;
    left: calc(50% - 170px);
    padding: 30px;
  }
}

@keyframes notification-animation {
  0% {background: #1E2C33;
  transform: translateY(0px)}
  100% {background-color: #2D424D;
    transform: translateY(75px);
    color: white}
}