.playlist-editor-modal {
  display: block;
  position: absolute;
  background-color: #282c34;
  padding-left: 5px;
}

.playlist-editor-modal span {
  padding-right: 10px;
  font-size: small;
}

.playlist-editor-modal--closed {
  display: none;
}

.playlist-editor-modal ul {
  list-style-type: none;
  padding: 0;
}

.playlist-editor-modal ul li{
  cursor: pointer;
}