.Sidebar {
  background: #875053;
  width: 200px;
  height: 100vh;
}

.Sidebar img {
  height: 50px;
  padding: 20px 0 0 10px;
}

.Sidebar ul li {
  list-style-type: none;
  padding: 5px 0 5px 0;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.Sidebar ul li.active {
  font-weight: 700;
  font-size: large;
  letter-spacing: 1.5px;
}

li.new-playlist {
  position: absolute;
  bottom: 50px;
}

.new-playlist i {
  margin-right: 5px;
}

.new-playlist span {
  font-weight: 300;
}