@import "../config/variables";

.sidebar__menu {
  display: none;
  width: 200px;
  height: 100vh;
  background: #2F4550;

  @media screen and (min-width: $breakpoint-l) {
    display: block;
  }
}

.sidebar__menu--open {
  display: block;
  opacity: 0.8;
  position: absolute;
  right: 0;
  z-index: 50;
}

.sidebar__logo {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #F4F4F9;
  padding-left: 10px;

  @media screen and (max-width: $breakpoint-l) {
    display: none;
  }
}

.hamburger {
  padding: 10px 0 0 10px;
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 60;

  @media screen and (min-width: $breakpoint-l) {
    display: none;
  }
}

.sidebar__list-playlist {
  list-style-type: none;
  padding: 5px 0 5px 0;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.sidebar__list-playlist--active {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #F4F4F9;
}

.sidebar__new-playlist {
  list-style-type: none;
  position: absolute;
  bottom: 50px;
  font-size: 20px;
}

.sidebar__new-playlist i {
  margin-right: 5px;
}

.sidebar__new-playlist span {
  font-weight: 300;
}