body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.music-player {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: #B8DBD9;
  position: relative;
}

