@import "components/Sidebar";
@import "components/Modal";
@import "components/Notification";
@import "components/Content";
@import "components/PlaylistEditorMenu";


body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.MusicPlayer {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: #B8DBD9;
  position: relative;
}

